<template>
    <div>
      <div id="slogan" class="text-center">
        <img src="../public/logo-chicago-bulls-1024.png" alt="Logo do Chicago Bulls" class="logo-img">
        <h1>Chicago Bulls 2023/2024 </h1>
        <br/>
        
        <h2 class="text-danger">Acha que sabe sobre o elenco do Chicago Bulls? </h2>
        <h3 class="text-secondary text-center">Para cada posição no elenco do Chicago Bulls,<br> teste seus conhecimentos inserindo as informações no campo abaixo dos jogadores.<br>Caso a informação seja verdadeira, o jogador com tal dado sera assinalado com a cor vermelha.</h3><br>
        <h5 class="text-danger">Exemplo de entradas: Nome, 123, X anos, X,XXm, XXkg, Universidade e mais.</h5>
      </div>
      <div id="main">
        <div class="container">
          <div class="row">
            <div class="col-md">
              <h1>Armadores <span class="badge badge-info">{{ guardsname.length }}</span></h1>
              <div class="card">
                <div class="card-body">
                  <ul class="list-group">
                    <li class="list-group-item" v-for="nomeGuard in guardsname" v-bind:key="nomeGuard" :class="searchGuard(guardinput, nomeGuard)">
                      {{ nomeGuard[0] }}  
                    </li>
                  </ul>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-text" id="texto-vermelho">Digite Aqui!</span>
                    <input class="form-control text-input" type="text" v-model="guardinput" placeholder="digite sua informação">
                    <div class="input-group-append">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md">
              <h1>Alas <span class="badge badge-info">{{ alaname.length }}</span></h1>
              <div class="card">
                <div class="card-body">
                  <ul class="list-group">
                    <li class="list-group-item" v-for="nomeAla in alaname" v-bind:key="nomeAla" :class="searchAla(alainput, nomeAla)">
                      {{ nomeAla[0] }}  
                    </li>
                  </ul>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-text" id="texto-vermelho">Digite Aqui!</span>
                    <input class="form-control text-input" type="text" v-model="alainput" placeholder="digite sua informação">
                    <div class="input-group-append">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md">
              <h1>Pivôs <span class="badge badge-info">{{ pivoname.length }}</span></h1>
              <div class="card">
                <div class="card-body">
                  <ul class="list-group">
                    <li class="list-group-item" v-for="nomePivo in pivoname" v-bind:key="nomePivo" :class="searchPivo(pivoinput, nomePivo)">
                      {{ nomePivo[0] }}  
                    </li>
                  </ul>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-text" id="texto-vermelho">Digite Aqui!</span>
                    <input class="form-control text-input" type="text" v-model="pivoinput" placeholder="digite sua informação"> 
                    <div class="input-group-append">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>    
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import "bootstrap/dist/css/bootstrap.css"
  import "font-awesome/css/font-awesome.css"
  
  export default {
    name: 'App',
    data: function() {
      // constante dos armadores
      const ZachLavine = ['Zach Lavine','8', '1,96m', '90kg', '28 anos', 'UCLA', "Flight 8",'Estados Unidos'];
      const AlexCaruso = ['Alex Caruso','6', '1,96m', '84kg', '29 anos', 'Texas A&M', "White Mamba", "GOAT", 'Estados Unidos'];
      const CobyWhite = ['Coby White','0', '1,96m', '88kg', '23 anos', 'North Carolina','Estados Unidos'];
      const AyoDonsumu = ['Ayo Donsumu','12', '1,96m', '90kg', 'Illinois', "Ayo Silver", 'Estados Unidos'];
      const JavonCarter = ['Javon Carter','5', '1,85m', '90kg', 'West Virginia', 'Estados Unidos'];
      const CarlikJones = ['Carlik Jones', '22', '1,83m', '78kg', 'Louisville', 'Estados Unidos'];
      const LonzoBall = ['Lonzo Ball', '2', '1,98m', '86kg','25 anos', 'UCLA', 'Estados Unidos'];
      // constante dos alas
      const DemarDeRozan = ['Demar DeRozan', '11', '1,98m', '99kg', '33 anos', 'USC', "Deebo", 'Estados Unidos'];
      const PatrickWillians = ['Patrick Willians', '44', '2,01m', '97kg', '21 anos', 'Florida State', "PAW", 'Estados Unidos'];
      const DalenTerry = ['Dalen Terry', '25', '2,01m', '90kg', '20 anos', 'Arizona', 'Estados Unidos'];
      const JulianPhillips = ['Julian Phillips', '#', '2,03m', '89kg', '19 anos', 'Tennessee', 'Estados Unidos'];
      const TerryTaylor = ['Terry Taylor', '32', '1,93m', '104kg', '23 anos', 'Austin Peay', 'Estados Unidos'];
      const JavonteGreen = ['Javonte Green', '24', '1,96m', '92kg', '29 anos', 'Radford', 'Estados Unidos'];
      const JustinLewis = ['Justin Lewis', '34', '2,01m', '21 anos', '111kg', 'Marquette', 'Estados Unidos'];
      const AdamaSanogo = ['Adama Sanogo', '#', '2,06m', '21 anos', '111kg', 'Ucon', 'Mali'];
      const TorreyCraig = ['Torrey Craig', '#', '2,01m', '32 anos', '98kg', 'USC', 'Estados Unidos'];

      // constante dos pivos
      const NikolaVucevic = ['Nikola Vucevic', '9', '2,08m', '32 anos', '117kg', 'USC', "Vooch", 'Montenegro'];
      const AndreDrummond = ['Andre Drummond', '3', '2,11m', '29 anos', '126kg', 'UConn', "Mr. Drummond", 'Estados Unidos'];
  
      return {
        guardinput: "",
        alainput: "",
        pivoinput: "",
        guardsname: [AlexCaruso, AyoDonsumu, CarlikJones, CobyWhite, JavonCarter, LonzoBall, ZachLavine],
        alaname: [AdamaSanogo, DalenTerry, DemarDeRozan, JavonteGreen, JulianPhillips, JustinLewis, PatrickWillians, TerryTaylor, TorreyCraig],
        pivoname: [AndreDrummond, NikolaVucevic],
      }
    },
    methods: {
      searchGuard(guardinput, nomeGuard) {
        if (nomeGuard.includes(guardinput)) {
          return "list-group-item-danger";
        }
        return "";
      },
      searchAla(alainput, nomeAla) {
        if (nomeAla.includes(alainput)) {
          return "list-group-item-danger";
        }
        return "";
      },
      searchPivo(pivoinput, nomePivo) {
        if (nomePivo.includes(pivoinput)) {
          return "list-group-item-danger";
        }
        return "";
      }
    }
  };
  </script>
  
  <style>
  #slogan {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  #main {
    background-color: #f22432;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .input-group {
    width: 1050px;
  }

  .logo-img {
  width: 100px; /* Largura da imagem */
  height: auto; /* Altura da imagem (proporcional) */
  margin-right: 60px; /* Espaçamento à direita do título */
}

#texto-vermelho{
  color:red;
}


  </style>
  